@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mo23ng');
  src:  url('fonts/icomoon.eot?mo23ng#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mo23ng') format('truetype'),
    url('fonts/icomoon.woff?mo23ng') format('woff'),
    url('fonts/icomoon.svg?mo23ng#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
  content: "\e900";
}
.icon-arrow_forward:before {
  content: "\e901";
}
.icon-bus:before {
  content: "\e902";
}
.icon-category:before {
  content: "\e903";
}
.icon-chevron_backward:before {
  content: "\e904";
}
.icon-chevron_down:before {
  content: "\e905";
}
.icon-chevron_forward:before {
  content: "\e906";
}
.icon-chevron_up:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-download:before {
  content: "\e909";
}
.icon-ems:before {
  content: "\e90a";
}
.icon-internet:before {
  content: "\e90b";
}
.icon-location:before {
  content: "\e90c";
}
.icon-LOGO .path1:before {
  content: "\e90d";
  color: rgb(23, 53, 145);
}
.icon-LOGO .path2:before {
  content: "\e90e";
  margin-left: -6.7255859375em;
  color: rgb(137, 194, 33);
}
.icon-mail:before {
  content: "\e90f";
}
.icon-person:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-printer:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e914";
}


.icon-send:before {
  content: "\e915";
}

.icon-settings:before {
  content: "\e916";
}
.icon-youtube:before {
  content: "\e917";
}
